header{
	background-image:url(1.jpg);
	background-size: cover;
	color:white;
	padding:8px;
	margin: 0;
	text-align: center;
	font-family: Comic Sans Ms;
}
nav{
	overflow: hidden;
	background-color: #20D9B5;
}
nav a{
	float: left;
	color:white;
	padding: 10px;
	text-decoration: none;
}
nav a:hover{
	background-color: black;
}
h3{
font-family: Comic Sans Ms}

b{
font-family: Comic Sans Ms;}
footer{
	background-color: green;
	color:white;

}
h4{
	font-family: bold;
}
p.https{
	"background-color: yellow;"
}
h5 {
	background-image:url(1.jpg) ;
	margin:1;
	padding:2;
	color:white;
}
h4{ margin:0;
	padding:10;
	background-color: skyblue;
	     }